body {
  background-color: #03041c;
  color: #c6c6c9;
  font-family: pt-sans, sans-serif;
  margin-left: 2em;
  margin-right: 2em;
}

.footer a {
  color: #c6c6c9;
  font-family: pt-sans, sans-serif;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  width: 200px;
  bottom: 10px;
}

img {
  height: 250px;
  width: 250px;
  background-color: white;
  margin-top: 1em;
  margin-bottom: 1em;
}