body {
  background-color: #03041c;
  color: #c6c6c9;
  font-family: pt-sans, sans-serif;
}

.footer a {
  color: #c6c6c9;
  font-family: pt-sans, sans-serif;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  width: 200px;
  position: fixed;
  bottom: 10px;
}
