body {
  background-color: #5c6874;
  color: #03041c;
  font-family: pt sans, sans-serif;
}

h2 {
  width: 90px;
  text-align: center;
  border: 2px solid #03041c;
}

p {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #03041c;
  font-family: pt sans, sans-serif;
}