.header {
  margin-left: 0;
  margin-right: 0;
  margin: auto;
  font-size: 32px;
  width: 200px;
  height: 50px;
  background-color: none;
  text-align: center;
}

img {
  margin-top: 1%;
  margin-left: 42%;
  height: 200px;
  width: 200px;
  display: inline-block;
  background-color: yellow;
}

.navi {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 39%;
  background-color: none;
  width: 280px;
  text-align: center;
  font-size: 25px;
}

.aboutme {
  margin-left: 0;
  margin-right: 0;
  margin: auto;
  margin-bottom: 2%;
  width: 200px;
  background-color: none;
  text-align: center;
  text-decoration: underline;
}

.about {
  margin-left: 0;
  margin-right: 0;
  margin: auto;
  width: 400px;
  background-color: none;
  text-align: center;
}

.footer {
  margin-left: 0;
  margin-right: 0;
  margin: auto;
  text-align: center;
  background-color: none;
  width: 100px;
  margin-top: 13%;
}

body {
  background-color: #03041c;
  color: #c6c6c9;
  font-family: pt sans;
}

a {
  text-decoration: none;
  color: white;
}
